  html{
    font-size: 62.5%;
    height:100%;
}
body{
    height:100%;
}
.header{
    background-color:#F5B4B3;
    height: 50px;
    font-size: 1.5rem;
}
.logo_image{
    width: 110px;
    float: left;
    margin: 0;
}
.top_menu li {

    float:left;
}
ul.top_menu {
    float: right;
  }

.top_menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
    float:left;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

ul{
    margin: 0;
    padding: 0;
    
}
li{
    list-style: none;
}


.image_area {
    width: 100%;
    
}
.side_menu li{
    background-color:#F5B4B3;
    height:6rem;
    margin-bottom: 10px;
}
.side_menu li a{
    font-size:2rem;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2rem;
    float:left;
}
.side_menu{
    width: 300px;
    float: left;
    
}
.wrapper{
    margin-top: 10px;
    padding-bottom:100px;
    
}

.type{
    position: relative;
  top: 30px;
}

.content{
    width:630;
    font-size:1.5rem;
    line-height:7rem;
    margin-left: 340px;  
    position: relative;
    bottom:300px;
}
.container{
    width:980px;
    margin:0 auto;
    min-height: 100%;

}
.submit{
    margin-left:700px;
    margin-top:0px;
    position: absolute;
    bottom:50px;
}
.submit a:hover {
    opacity: 0.6;
  }
  .footer{
    height: 100px;
    width: 980px;
    display:table;
        background-color: #4D4D4D
}
.footer p {
    font-size: 1rem;
    color: #fff;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
}

.contact {
    width:630px;
    margin-right:1000px;
    position: relative;